.select {
  overflow: scroll;
}
.suggestion {
  position: absolute;

  border-right: none;
  border-left: none;
  background-color: white;
  color: black;
  z-index: 99;

  left: 0;
  right: 0;
  padding-left: 1rem;
  font-size: 2rem;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  /*display: inline-block;*/
}

.journey-card {
  background-color: #3eb0e5 !important;
  color: white;
  font-size: 2rem;
}
.form-label {
  font-weight: bold;
}
.api-error {
  color: red;
}
.form-control {
  font-size: 2rem !important;
}
.form-select {
  font-size: 2rem !important;
}

.error {
  color: red;
  font-size: bold;
}
