.select {
  overflow: scroll;
}
.suggestion {
  position: absolute;

  border-right: none;
  border-left: none;
  background-color: white;
  color: black;
  z-index: 99;

  left: 0;
  right: 0;
  padding-left: 1rem;
  font-size: 2rem;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.journeyCard {
  background-color: #3eb0e5 !important;
  color: white;
}
.formLabel {
  font-weight: bold;
  font-size: large;
}

input {
  font-size: large !important;
}
.vehiculeImage {
  max-width: 100%;
}

.vehiculeSelect {
  border-radius: 10px !important;
}
textarea {
  font-size: large !important;
}
