.departurePlace {
    color: #b2cd52;
    font-weight: bold;
    font-style: italic;
  }
  .arrivalPlace {
    color: #d0324b;
    font-weight: bold;
    font-style: italic;
  }
  .journeyArrow {
    color: black;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
  }