.signupCard {
  background-color: #3eb0e5 !important;
  color: white;
  font-size: 2rem;
  width: 40rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.rowGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .signupCard {
    width: 33rem;
  }
}

.formLabel {
  font-size: large;
  font-weight: bold;
}

.iccSelect {
  width: 45%;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.mobileInput{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}