.signup-card {
  background-color: #3eb0e5 !important;
  color: white;
  font-size: 2rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.row-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.error {
  color: red;
  font-weight: bold;
}
