.transporter-img {
    text-align: center;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 50rem;
  }
  @media (max-width: 767px) {
    .transporter-img {
      display: none;
    }
  }
  html {
    font-size: 62.5%;
  }
  .home-message {
    font-size: 3rem;
  }
 