.journeySearchHeader {
  font-size: 4rem;
  font-weight: bold;
  color: #134753;
  font-style: italic;
}
.journeySearchFormHeader {
  font-size: 3rem;
  font-weight: bold;
  color: #134753;
  font-style: italic;
}

.journeySearchForm {
  background-color: #3eb0e5 !important;
  color: white;
  font-size: 2rem;
}

@media (max-width: 767px) {
  .journeySearchForm {
    width: 35rem;
  }
  .offCanvas {
    width: 35rem;
  }
}

.departurePlace {
  color: #b2cd52;
  font-weight: bold;
  font-style: italic;
}
.arrivalPlace {
  color: #d0324b;
  font-weight: bold;
  font-style: italic;
}
.journeyArrow {
  color: black;
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1rem;
}
.journeyDistance {
  color: black;
  font-weight: bold;
}
.journeyWorkersText {
  color: black;
  font-weight: bold;
}
.journeyWorkersNumber {
  color: red;
  font-weight: bold;
}
.journeyButton {
  min-width: 40%;
  font-weight: bold;
  font-size: 2rem;
}
.expiredHeader {
  background-color: #e66c78 !important;
}
.openHeader {
  background-color: #d6e4a3 !important;
}
.archivedHeader {
  background-color: #d6e4a3 !important;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.clientName {
  color: #134753;
  font-weight: bold;
}