.journeyCard {
  min-width: 25%;
}
.departurePlace {
  color: #b2cd52;
  font-weight: bold;
  font-style: italic;
}
.arrivalPlace {
  color: #d0324b;
  font-weight: bold;
  font-style: italic;
}
.journeyArrow {
  color: black;
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1rem;
}
.journeyDistance {
  color: black;
  font-weight: bold;
}
.journeyWorkersText {
  color: black;
  font-weight: bold;
}
.journeyWorkersNumber {
  color: red;
  font-weight: bold;
}
.journeyButton {
  min-width: 40%;
  font-weight: bold;
  font-size: 2rem;
}
.expiredHeader {
  background-color: #e66c78 !important;
}
.openHeader {
  background-color: #d6e4a3 !important;
}
