.journeySearchHeader {
  font-size: 4rem;
  font-weight: bold;
  color: #134753;
  font-style: italic;
}

.journeySearchFormHeader {
  font-size: 3rem;
  font-weight: bold;
  color: #134753;
  font-style: italic;
}

.journeySearchForm {
  background-color: #3eb0e5 !important;
  color: white;
  font-size: 2rem;
}

@media (max-width: 767px) {
  .journeySearchForm {
    width: 35rem;
  }
  .offCanvas {
    width: 35rem;
  }
}

.departurePlace {
  color: #b2cd52;
  font-weight: bold;
  font-style: italic;
}

.arrivalPlace {
  color: #d0324b;
  font-weight: bold;
  font-style: italic;
}

.journeyArrow {
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.journeyDistance {
  color: black;
  font-weight: bold;
}

.journeyWorkersText {
  color: black;
  font-weight: bold;
}

.journeyWorkersNumber {
  color: #d0324b;
  font-weight: bold;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.clientName {
  color: #134753;
  font-weight: bold;
}

.vehiculeImage {
  max-width: 100%;
}

.vehiculeSelect {
  border-radius: 10px !important;
}

.suggestion {
  position: absolute;

  border-right: none;
  border-left: none;
  background-color: white;
  color: black;
  z-index: 99;

  left: 0;
  right: 0;
  padding-left: 1rem;
  font-size: 2rem;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

.formLabel {
  font-weight: bold;
  font-size: large;
}
.toastBody {
  background-color: #d6e4a3
}
