.bigAvatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.userName {
  color: #134753;
  font-weight: bold;
  font-style: italic;
}

.hrLine {
  border-color: #134753;
  background-color: #134753;
  color: #134753;
  opacity: 1;
}
