button {
  border-radius: 10px !important;
}

.card {
  border-radius: 10px !important;
}

textarea {
  border-radius: 10px !important;
}

input {
  border-radius: 10px !important;
}

.suggestion {
  border-radius: 10px !important;
  font-size: large !important;
}

select {
  border-radius: 10px !important;
}

option {
  border-radius: 10px !important;
}

.error {
  color: red;
  font-size: bold;
}

.btn-fretto {
  color: #134753 !important;
  font-style: italic !important;
  font-weight: bold !important;
  font-size: large !important;
  background-color: #b2cd52 !important;
  border-color: #b2cd52 !important;
}

.mandatoryAsterisk {
  color: #d0324b !important;
}
